{% extends "layouts/base.html" %}

{% block content %}
<div class="jumbotron">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_rycdh53q.json"
                background="transparent"
                speed="1"
                style="width: 500px; height: 300px;" loop autoplay>
    </lottie-player>
    <hr class="my-4">
    <p>타이포그래피 및 간격에 유틸리티 클래스를 사용하여 더 큰 컨테이너 내에서 콘텐츠 공간을 확보합니다.</p>
    <form>
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">제출</button>
    </form>
</div>
{% endblock %}